<div id="wrapper">
    <div id="logo">
        <img src="assets/image/logo.png" class="responsive-img" alt="MyGrades">
        <span id="reloaded">Reloaded!</span>
    </div>

    <a id="playstore" href="https://play.google.com/store/apps/details?id=dh.mygrades"><img class="responsive-img"
            alt="Get it on Google Play"
            src="https://play.google.com/intl/en_us/badges/images/generic/de-play-badge.png" /></a>

    <div id="teaser">
        <p>Deine Studiumsnoten aktuell und übersichtlich <br> direkt aus deinem Notensystem.</p>
    </div>

    <div id="device"></div>

    <div id="footer">
        <a [routerLink]="['/data-privacy']">Datenschutz</a>
        <a [routerLink]="['/site-notice']">Impressum</a>
        <a href="https://github.com/MyGrades/mygrades-app">Quellcode</a>
    </div>
</div>